<!-- footer.component.html -->
<div class="footer">
  <p class="copyright">
    © Created by <strong>Joshua Boyd</strong>
  </p>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/joshua-boyd-969781140/"
       target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-linkedin"></ion-icon>
      LinkedIn
    </a>
    <a href="https://github.com/creativeisaiah"
       target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-github"></ion-icon>
      GitHub
    </a>
  </div>
</div>