<ion-header>
  <ion-toolbar>
    <ion-title>Quiz Maker App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home">
  <div class="hero">
    <h1>Quiz Maker Studio</h1>
    <p>Build, play, and master your own quizzes.</p>
  </div>

  <ion-button expand="block" size="large" routerLink="/quiz">
    Take Quiz
  </ion-button>

  <ion-button expand="block" fill="outline" routerLink="/results">
    View Results
  </ion-button>

  <ion-button expand="block" routerLink="/question-form">
  Create Question
</ion-button>

<ion-button expand="block" fill="outline" routerLink="/question-list">
  View All Questions
</ion-button>


  
</ion-content>

